*{
    margin:0;
    padding:0;
}
body{
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: linear-gradient(180deg,purple,blue);
    background-repeat: no-repeat;
}
input{
    padding: 5px;
    width:60%;
    outline: none;
}
button{
    position:relative;
    margin-left: -60px;
    margin-top: -6px;
}
.container{
    width: 500px;
    height:auto;
    max-height: 100vh;
    background-color: white;
    overflow-y: scroll;
}
ul li{
    display: flex;
    list-style-type: none;
    border: 1px solid black;
    margin: 20px 0;
    padding: 5px;
}

ul li::before{
    content:'';
    background-image: url('images/uncheck.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position:relative;
    top: 0px;
    left: 0px;
    height: 20px;
    width:20px;
    margin: 0 5px;
}
ul li.checked::before{
    content:'';
    background-image: url('images/checked.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position:relative;
    top: 0px;
    left: 0px;
    height: 20px;
    width:20px;
    margin: 0px 5px;
}
ul li.checked{
    text-decoration: line-through;
}
ul li span{
    position: absolute;
    right:400px;
    font-size: 27px;
    margin-top: -10px;
}
ul li span:hover{
    background-color: red;
}

@media screen and (max-width:1000px) {
    .container{
        width:70%;
    }
    ul li span{
        right:200px;
    }
}

@media screen and (max-width:800px) {
    .container{
        width:80%;
    }
    ul li span{
        right:150px
    }
}

@media screen and (max-width:500px) {
    .container{
        width:100%;
    }
    input{
        width:80%
    }
    ul li span{
        right:40px;
    }
}
